@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}

.logo{
   width: 50px;
}

ul{
   display: flex;
}

.nav__link--list{
   display: flex;
}

li{
   list-style-type: none;
}

a{
   text-decoration: none;
   color: black;
}

.nav__link{
   padding-right: 24px;
}

/* BURGER MENU */

.btn__menu{
   background-color: transparent;
   border: none;
   font-size: 40px;
}

.menu__links{
   display: flex;
   flex-direction: column;
   height: 90%;
   justify-content: space-between;
   padding: 32px 0;
   text-align: center;
}

.menu__backdrop{
position: absolute;
content: "";
background-color: white;
top: 10px;
left: 10px;
right: 10px;
height: 400px;
border: 1px solid lightgray;
border-radius: 4px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;




}

.btn__menu--close{
   position: absolute;
   right: 20px;
   top:10px;
   padding:8px;
}
